<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
<section id="contact">
			<div class="section-content">
				<h1 class="section-header"> <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Iletisim Formu</span></h1>
				
			</div>
			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">İsminiz</label>
					    	<input type="text" class="form-control" id=">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Email Adresiniz</label>
					    	<input type="email" class="form-control" id="exampleInputEmail" >
					  	</div>	
					  	<div class="form-group">
					    	<label for="telephone">Telefon Numaranız</label>
					    	<input type="tel" class="form-control" id="telephone" >
			  			</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Mesaj</label>
			  			 	<textarea  class="form-control" id="description"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Gönder </button>
			  			</div>
			  			
					</div>
				</form>
			</div>
		</section>
